/* CSS Style Sheet for Horiseon Digital Marketing
Code re-factor
July 9, 2022 */

/* wildcard styling  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global styling for page elements  */
body {
    color: #ffffff;
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 16px;
}

/* Header stylings */
.header {
    padding: 20px;
    background-color: #2a607c;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header .nav-links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Hero img styling  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Aside styling - side bar on right  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;    
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits p{
    margin-bottom: 32px; 
}

/* Styling for main content in body  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-blocks {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Footer styling  */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #000000;
}

.footer h2 {
    font-size: 20px;
}